# [submodule "external/monero-project"]
# 	path = external/monero-project
# 	url = https://github.com/woodser/monero
[submodule "external/monero-project"]
	path = external/monero-project
	url = https://github.com/MyEcoria/wownero-sign.git
